extends layout

block content
    .row
        .col
            .collapse.show.multi-collapse(id="about")
                .card.card-body
                    h2 About
                .card.card-body
                    p Results-driven, enthusiastic young professional. Two years of demonstrated programming experience, half a year of professional programming experience. Proven and passionate in designing, creating, and delivering great products to consumers by continually aligning business priorities with customer needs.

            .collapse.multi-collapse(id="experience")
                .card.card-body
                    h2 Experience
                .card.card-body
                    h3 Blueprint Technologies, Bellevue WA - Web Development and Technical Support Representative
                    p October  2016 - Present

                    h4 Web Development
                    p Full stack Web Development; creating engagement-wide, internal tools supporting training and business intelligence. Creating and continually expanding upon a scalable web application built in JavaScript with Node.js Express. Establishing project timelines and deliverables; documenting progress and releases in Jira as well as developing and maintaining project documentation hosted on Confluence.

                    h4 Technical Support
                    p Tier 3 level customer care with an emphasis in technological support. Specializing in hardware/network troubleshooting, trending issue documentation, and identifying areas for UX improvement for client sponsored software. Participant in a L&D pilot project testing structure, efficacy, and application processes.

                .card.card-body
                    h3 The Family Pet, Seattle WA — Veterinary Assistant
                    p December 2014 - October 2016
                    p Project Manager and Event Coordinator / Leadership. Provided consultations and resources for an average of 20 clients per day. Responsible for training new hires. Performed regular checks on data retention, ensuring proper digital storage of client data for legal and business compliance.

                .card.card-body
                    h3 Bainbridge Island Land Trust, Bainbridge WA — Intern
                    p June  2014 - January 2015
                    p Lead the research, development, and implementation of a wildlife monitoring system. Performed product research and recommendations for the adoption of approximately 40 environmentally sustainable products. Organized and led team outings to project sites. Created and presented the final project report to the company board directors.

            .collapse.multi-collapse(id="skills")
                .card.card-body
                    h2 Skills
                .card.card-body
                    p MySQL/MSSQL. HTTP, TLS. HTML / CSS, JavaScript, jQuery, Node.js, Express, React, Bootstrap, PUG, C++. GitHub, Jira. Microsoft Sql Server Management Studio. Deployment in Azure WebApps, Active Directory Authentication. Command Line / PowerShell / Windows. Linux / Ubuntu / Mac / Terminal.


            .collapse.multi-collapse(id="awards")
                .card.card-body
                    h2 Awards
                .card.card-body
                    h3 All Hands Speaker
                    p Career Path Journey September 2018
                .card.card-body
                    h3 Blueprint Ultimate Award Winner
                    p Exemplifying and Internalizing the ‘Blueprint Core Values’ August 2018
                .card.card-body
                    h3 MVP
                    p 'Staying Engaged' July 2017
                .card.card-body
                    h3 MVP
                    p 'Highly Motivated and Satisfied Employee' November 2016

            .collapse.multi-collapse(id="projects")
                .card.card-body
                    h2 Projects
                .card.card-body
                    a(href="https://github.com/maleriefleischman") GitHub
                    a(href="https://codepen.io/maleriefleishman") CodePen

            .collapse.multi-collapse(id="education")
                .card.card-body
                    h2 Education
                .card.card-body
                    h3 University of Washington, Seattle WA
                    p 2010 - 2014
                    p BA Environmental Studies
