extends layout

block content
    .row.back
        .col-2
            .spacer.spacer-yel.rounded.bg-complementary1.border.border-complementary3
        .col-2
            .spacer.spacer-yel.rounded.bg-complementary2.border.border-complementary4
        .col-4
            img.spacer.rounded(src="/images/malerie.jpg" alt="Malerie")
        .col-2
            .spacer.spacer-blue.rounded.bg-primary2.border.border-primary4(id="spacer-3")
        .col-2
            .spacer.spacer-blue.rounded.bg-primary1.border.border-primary3(id="spacer-4")
    .row.res
        .col
            .card.card-body.bg-primary1.border.border-primary3(id="about")
                h2.text-dark About
            .card.card-body.border.border-primary1
                p Results-driven, enthusiastic young professional. Two years of demonstrated programming experience, half a year of professional programming experience. Proven and passionate in designing, creating, and delivering great products to consumers by continually aligning business priorities with customer needs.
    .row.res
        .col
            .card.card-body.bg-primary1.border.border-primary3(id="experience")
                h2.text-dark Experience
            .card.card-body.border.border-primary1
                h3 University of Washington, UAA: IT - Web Computing Specialist
                p February 2019 - Present
                p Full stack Web Development; maintaining and expanding upon student and faculty facing tools to facilitate hiring and tutoring. Projects are built in Javascript with Node.js Express.
            .card.card-body.border.border-primary1
                h3 Blueprint Technologies, Bellevue WA - Web Development and Technical Support Representative
                p October  2016 - Present

                h4 Web Development
                p Full stack Web Development; creating engagement-wide, internal tools supporting training and business intelligence. Creating and continually expanding upon a scalable web application built in JavaScript with Node.js Express. Establishing project timelines and deliverables; documenting progress and releases in Jira as well as developing and maintaining project documentation hosted on Confluence.

                h4 Technical Support
                p Tier 3 level customer care with an emphasis in technological support. Specializing in hardware/network troubleshooting, trending issue documentation, and identifying areas for UX improvement for client sponsored software. Participant in a L&D pilot project testing structure, efficacy, and application processes.

            .card.card-body.border.border-primary1
                h3 The Family Pet, Seattle WA — Veterinary Assistant
                p December 2014 - October 2016
                p Project Manager and Event Coordinator / Leadership. Provided consultations and resources for an average of 20 clients per day. Responsible for training new hires. Performed regular checks on data retention, ensuring proper digital storage of client data for legal and business compliance.

            .card.card-body.border.border-primary1
                h3 Bainbridge Island Land Trust, Bainbridge WA — Intern
                p June  2014 - January 2015
                p Lead the research, development, and implementation of a wildlife monitoring system. Performed product research and recommendations for the adoption of approximately 40 environmentally sustainable products. Organized and led team outings to project sites. Created and presented the final project report to the company board directors.
    .row.res
        .col
            .card.card-body.bg-complementary1.border.border-complementary3(id="skills")
                h2.text-dark Skills
            .card.card-body.border.border-primary1
                p MySQL/MSSQL. HTTP, TLS. HTML / CSS, JavaScript, jQuery, Node.js, Express, React, Bootstrap, PUG, C++. GitHub, Jira. Microsoft Sql Server Management Studio. Deployment in Azure WebApps, Active Directory Authentication. Command Line / PowerShell / Windows. Linux / Ubuntu / Mac / Terminal.
        .col
            .card.card-body.bg-primary1.border.border-primary3(id="projects")
                h2.text-dark Projects
            .card.card-body.border.border-primary1
                p
                    a(href="https://github.com/maleriefleischman") GitHub
                p
                    a(href="https://codepen.io/maleriefleischman") CodePen
        .col
            .card.card-body.bg-complementary1.border.border-complementary3(id="education")
                h2.text-dark Education
            .card.card-body.border.border-primary1
                h3 University of Washington, Seattle WA
                p 2010 - 2014
                p BA Environmental Studies


