extends layout

block content


    .row.d-flex.justify-content-center.nav-gradient
        .me
            .me-center
                .item.res
                        img.rounded-circle.d-flex.justify-content-center(src="/images/malerie-square.jpg" alt="Malerie")

                .div.col.res
                    h5.text-light(id="about") Results-driven, enthusiastic young professional.
                    h5.text-light Programming since 2017
    .row.d-flex.justify-content-center
        .col
            .row.item.border.border-light

                .col-sm-5.col-md-4.bg-dark.text-center.text-white.item

                    .my-3.py-3
                        h2.display-5 University of Washington
                        h4 UAA: IT - Web Computing Specialist
                        p February 2019 - Present
                .col-sm-7.col-md-8.bg-light.text-center.uw.work.text-white
                    .my-3.py-3
                        div.res
            .row.item.border.border-light
                .col-sm-5.col-md-4.bg-dark.text-center.text-white.item
                    .my-3.py-3
                        h2.display-5 Blueprint Technologies
                        h4 Web Development / Technical Support
                        p October  2016 - September 2019
                .col-sm-7.col-md-8.bg-light.text-center.bp.work.text-white
                    .my-3.py-3
                        div.res
            .row.item.border.border-light

                .col-sm-5.col-md-4.bg-dark.text-center.text-white.item

                    .my-3.py-3
                        h2.display-5 The Family Pet
                        h4 Veterinary Assistant
                        p December 2014 - October 2016
                .col-sm-7.col-md-8.bg-light.text-center.text-white.fp.work
                    .my-3.py-3
                        div.res

            .row.item.border.border-light

                .col-sm-5.col-md-4.bg-dark.text-center.text-white.item

                    .my-3.py-3
                        h2.display-5 Bainbridge Island Land Trust
                        h4 Project Development - Intern
                        p June  2014 - January 2015
                .col-sm-7.col-md-8.bg-light.text-center.text-white.lt.work
                    .my-3.py-3
                        div.res.btm

        div.footer.back-gradient
