doctype html
html
    head
        meta(name="viewport" content="width=device-width", "initial-scale=1", "shrink-to-fit=no")
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/custom.css')
        link(rel='stylesheet', href="/aos/aos.css")
        script(src='/jquery/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/aos/aos.js')


    body
        nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
            //nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-gradient-primary3
            a.navbar-brand.text-white(href="/") Malerie Fleischman
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse(id="navbar")
                .navbar-nav
                    a.nav-item.nav-link.text-white(href="/timer") React Timer
                    a.nav-item.nav-link.text-white(href="/beer") Jquery Beer Calculator
        .container-fluid
            block content
        block footer_scripts

    script.
        AOS.init({
            duration: 1200
        });
