body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.card a {
  color: #00488D;
}

a:hover{
    color: #FF9700 !important;
}


.spacer{
    display: block;
    height: 100%;
    width: 100%;
}

.res{
    margin-top: 1.5rem;

}

.back{
    margin: 1.5rem;
}

.col{
    height: 100%;
}

